<div ng-controller="MdLayoutCtrl" layout="column" style="height:100%" ng-cloak flex>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <md-button ng-click="toggleLeft()" class="md-icon-button" hide-gt-md show-md>
                <i class="mdi mdi-menu mdi-24px"></i>
            </md-button>
            <h2>
                <span>{{brandTitle}}</span>
            </h2>
            <span flex></span>
            <md-menu md-offset="0 60">
                <md-button ng-click="$mdOpenMenu($event)" class="md-icon-button">
                    <i class="mdi mdi-account-circle mdi-24px"></i>
                </md-button>
                <md-menu-content adminr-container="'adminr-md-layout-top-menu'">
                    <!--<md-menu-item>-->
                        <!--<md-button ng-click="datasource.logout()">-->
                            <!--<i class="mdi mdi-logout"></i>-->
                            <!--Logout-->
                        <!--</md-button>-->
                    <!--</md-menu-item>-->
                </md-menu-content>
            </md-menu>
        </div>
    </md-toolbar>
    <section layout="row" flex>
        <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">
            <md-toolbar class="md-theme-indigo" hide-gt-md show-md>
                <div class="md-toolbar-tools">
                    <md-button ng-click="toggleLeft()" class="md-icon-button" hide-gt-md show-md>
                        <i class="mdi mdi-arrow-left mdi-24px"></i>
                    </md-button>
                    <h1>{{brandTitle}}</h1>
                </div>
            </md-toolbar>
            <md-content ng-controller="LeftCtrl" ng-include="'adminr-md-layout-side-menu'">
            </md-content>
        </md-sidenav>
        <md-content flex layout-padding ui-view>

        </md-content>
        <!--<md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="right" adminr-container="'adminr-md-layout-right'">-->
        <!--</md-sidenav>-->
    </section>
</div>